ul.lst-kix_f1h0xwbk40xg-1 {
    list-style-type: none
}

ul.lst-kix_f1h0xwbk40xg-2 {
    list-style-type: none
}

ul.lst-kix_f1h0xwbk40xg-0 {
    list-style-type: none
}

ul.lst-kix_f1h0xwbk40xg-5 {
    list-style-type: none
}

ul.lst-kix_f1h0xwbk40xg-6 {
    list-style-type: none
}

.lst-kix_f1h0xwbk40xg-1>li:before {
    content: "\0025cb   "
}

ul.lst-kix_f1h0xwbk40xg-3 {
    list-style-type: none
}

ul.lst-kix_f1h0xwbk40xg-4 {
    list-style-type: none
}

.lst-kix_f1h0xwbk40xg-0>li:before {
    content: "\0025cf   "
}

.lst-kix_f1h0xwbk40xg-8>li:before {
    content: "\0025a0   "
}

li.li-bullet-0:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt
}

ul.lst-kix_f1h0xwbk40xg-7 {
    list-style-type: none
}

ul.lst-kix_f1h0xwbk40xg-8 {
    list-style-type: none
}

.lst-kix_f1h0xwbk40xg-6>li:before {
    content: "\0025cf   "
}

.lst-kix_f1h0xwbk40xg-5>li:before {
    content: "\0025a0   "
}

.lst-kix_f1h0xwbk40xg-7>li:before {
    content: "\0025cb   "
}

.lst-kix_f1h0xwbk40xg-2>li:before {
    content: "\0025a0   "
}

.lst-kix_f1h0xwbk40xg-3>li:before {
    content: "\0025cf   "
}

.lst-kix_f1h0xwbk40xg-4>li:before {
    content: "\0025cb   "
}

ol {
    margin: 0;
    padding: 0
}

table td,
table th {
    padding: 0
}

.c4 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #bdc1c6;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #bdc1c6;
    vertical-align: bottom;
    border-right-color: #bdc1c6;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 84.8pt;
    border-top-color: #bdc1c6;
    border-bottom-style: solid
}

.c19 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #bdc1c6;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #bdc1c6;
    vertical-align: top;
    border-right-color: #bdc1c6;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 502.5pt;
    border-top-color: #bdc1c6;
    border-bottom-style: solid
}

.c7 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #bdc1c6;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #bdc1c6;
    vertical-align: top;
    border-right-color: #bdc1c6;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 351pt;
    border-top-color: #bdc1c6;
    border-bottom-style: solid
}

.c17 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #bdc1c6;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #bdc1c6;
    vertical-align: top;
    border-right-color: #bdc1c6;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 66.8pt;
    border-top-color: #bdc1c6;
    border-bottom-style: solid
}

.c10 {
    margin-left: 36pt;
    padding-top: 12pt;
    padding-left: 0pt;
    padding-bottom: 12pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c0 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c3 {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c24 {
    padding-top: 12pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c18 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: right
}

.c2 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c15 {
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c5 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left;
    height: 11pt
}

.c16 {
    color: #000000;
    text-decoration: none;
    vertical-align: baseline;
    font-family: "Arial";
    font-style: normal
}

.c26 {
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c6 {
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto
}

.c1 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: right
}

.c33 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: center
}

.c32 {
    padding-top: 12pt;
    padding-bottom: 12pt;
    line-height: 1.15;
    text-align: left
}

.c27 {
    text-decoration: none;
    vertical-align: baseline;
    font-family: "Arial";
    font-style: normal
}

.c25 {
    padding-top: 12pt;
    padding-bottom: 12pt;
    line-height: 1.0;
    text-align: left
}

.c14 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c9 {
    margin-left: 5pt;
    orphans: 2;
    widows: 2
}

.c35 {
    background-color: #ffffff;
    max-width: 503.4pt;
    padding: 0pt 35.4pt 13.1pt 56.7pt
}

.c28 {
    padding: 0;
    margin: 0
}

.c29 {
    orphans: 2;
    widows: 2
}

.c8 {
    height: 11pt
}

.c22 {
    text-indent: 36pt
}

.c11 {
    color: #7f7f7f
}

.c23 {
    margin-right: -7pt
}

.c20 {
    color: #666666
}

.c21 {
    background-color: #f1f3f4
}

.c34 {
    height: 21pt
}

.c13 {
    font-size: 12pt
}

.c31 {
    font-size: 13pt
}

.c30 {
    height: 0pt
}

.c12 {
    font-weight: 700
}

.title {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

li {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

h1 {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3 {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}

/* Container Wrapper for centering in the React App */
.invoice-preview-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #e8eef5;
    padding: 20px;
    min-height: 100vh;
}

.doc-content {
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media print {
    .invoice-preview-wrapper {
        background: white;
        padding: 0;
        display: block;
    }

    .doc-content {
        box-shadow: none;
        margin: 0;
        padding: 0;
    }

    button {
        display: none !important;
    }
}